@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/LibreBaskerville-Italic.ttf");
    font-style: oblique;
}

@font-face {
    font-family: "AlegreyaSans";
    src: url("../fonts/AlegreyaSans-Thin.ttf");
}


body {
  font-family: Baskerville;
}

[contentEditable=true] {
  font-family: Baskerville;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder);
  display: block;
  font-size: 1.2rem;
}
